.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 50px 10px 50px 10px;
    font-family: 'Raleway', sans-serif !important;
}
/* 
@media screen and (max-width: 768px) {
    .about-container {
        margin: 0;
        width: 100%;
    }

    
} */