@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
}

.photo-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.lp-container {
  height: 100vh;
  background-image: url('../Assets/bluesky.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.button {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  background-color: hsl(0, 0%, 51%);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Add some hover effect to the button */
.button:hover {
  background-color: hsl(0, 0%, 97%);
  color: hsl(0, 0%, 0%);
  
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100px;
  width: 150px;
 

}

.logo {
  width: 5vh;
  height: 5vh; 
  padding: 10px;
}

.lp-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  
}
